.CreateElectionCndContainer {
  width: 20%;
  margin-left: 100px;
  height: 60vh;
  
}

.elcCandidates {
  height: 100%;
}

.elcCandidatesTitle {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.elcCandidatesBody {
  overflow-y: auto;
  position: relative;
  margin-top: 20px;
  width: 100%;
  height:85%;
}
.candidates {
  height: 70px;
  margin: 10px 0;
  background-color: #1d5b79;
  border-radius: 10px;
  color: white;
  position: relative;
  width: 90%;
  display: flex;
}
.candidatesLeft {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.candidatesMid {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.candidatesRight {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
