.electionContainer {
  width: 30%;
  height: 70vh;
  margin-left: 50px;
}
.elections {
  height: 100%;
}
.electionsTitle {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}
.electionsBody {
  cursor: pointer;
  overflow-y: auto;
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 85%;
}

.specialElections {
  height: 70px;
  margin: 10px 0;
  background-color: #1d5b79;
  border-radius: 10px;
  color: white;
  display: flex;
}

.leftElections {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightElections {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.rightElections i {
  font-size: 2rem;
}
